* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background: #e3fffb;
  font-family: 'Lora', serif;
}
#profile-picture-div {
  margin-top: 20px;
  display: grid;
  place-items: center;
}
#profile-picture {
  border-width: 2px;
  border-color: #60f7ff;
  border-style: solid;
  border-radius: 50%;
}
p,
h1,
h2,
h3 {
  margin: 20px;
}
h1,
h2,
h3 {
  text-align: center;
}

header {
  background: #6edbff;
  height: 66px;
  position: relative;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}
header .logo-text {
  margin: 8px;
  font-family: 'Candal', serif;
}
header .logo-text span {
  color: aqua;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}
header ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #b3ecff;
  width: 100%;
  z-index: 1000;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  float: none;
  width: 100%;
}
header ul li ul li a {
  font-size: 15px;
  text-align: center;
  padding: 8px;
}

header ul li a:hover {
  background: #57bdfb;
  transition: 0.5s;
}
header .menu-toggle {
  display: none;
}
@media only screen and (max-width: 545px) {
  header ul {
    width: 100%;
    background: #9be6ff;
    max-height: 0px;
    overflow: hidden;
  }
  .showing {
    max-height: 100em;
  }
  header ul li {
    width: 100%;
    position: relative;
  }
  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 1.8em;
  }
  header ul li ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #b3ecff;
  }
  header ul li:hover ul {
    display: block;
  }
  header .logo {
    margin-left: 0.5em;
  }
  header .logo-text {
  }
}
