* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background: rgb(251, 250, 223);
  font-family: 'Lora', serif;
}
#profile-picture-div {
  margin-top: 20px;
  display: grid;
  place-items: center;
}
#profile-picture {
  border-width: 2px;
  border-color: #60f7ff;
  border-style: solid;
  border-radius: 50%;
}
p,
h1,
h2,
h3 {
  margin: 20px;
}
h1,
h2,
h3 {
  text-align: center;
}
.tutorial-code {
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
  line-height: 18px;
}
.tutorial-code-div {
  background-color: rgb(255, 237, 202);
  padding: 10px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  margin-left: 21%;
  margin-right: 21%;
}

p {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.images {
  width: 50%;
  max-width: max-content;
  border-width: 4px;
  border-style: solid;
  border-color: #000;
}

header {
  background: #d3ab80;
  height: 66px;
  position: relative;
}

.longName {
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}
header .logo-text {
  margin: 8px;
  font-family: 'Candal', serif;
  color: rgb(255, 245, 228);
}
header .logo-text span {
  color: rgb(255, 245, 228);
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}
header ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #d3ab80;
  width: 100%;
  z-index: 1000;
}

header ul li:hover ul {
  display: block;
  transition: 0.5;
}

header ul li ul li {
  float: none;
  width: 100%;
}
header ul li ul li a {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

header ul li ul li a:hover {
  background: #ba7e3d;
  transition: 0.5s;
}

header ul li a:hover {
  background: #ba7e3d;
  transition: 0.5s;
}
header .menu-toggle {
  display: none;
}
@media only screen and (max-width: 545px) {
  header ul {
    width: 100%;
    background: #9be6ff;
    max-height: 0px;
    overflow: hidden;
  }

  p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }

  .showing {
    max-height: 100em;
    overflow: visible;
  }
  header ul li {
    width: 100%;
    position: relative;
  }
  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 1.8em;
  }
  header ul li ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #b3ecff;
  }
  header ul li:hover ul {
    display: block;
  }
  header .logo {
    margin-left: 0.5em;
  }
  header .logo-text {
  }
  .tutorial-code-div {
    margin-left: 10%;
    margin-right: 10%;
  }
}
